apiVersion: apps/v1
kind: Deployment
metadata:
  name: service-management
  labels:
    app: service-management
spec:
  replicas: 1
  selector:
    matchLabels:
      app: service-management
  template:
    metadata:
      name: service-management
      labels:
        app: service-management
    spec:
      containers:
        - name: service-management
          image: ghcr.io/eclipse-slm/slm/service-management:{{ .Values.version }}
          imagePullPolicy: Always
          ports:
            - containerPort: 9020
          env:
            - name: KEYCLOAK_AUTHSERVERURL
              value: http://keycloak:{{.Values.keycloak.port}}/auth
            - name: BASYX_AASREGISTRY_PATH
              value: http://aas-registry:4000
            - name: BASYX_AASSERVER_PATH
              value: http://aas-server:4001
            - name: BASYX_AASREGISTRY_URL
              value: http://aas-registry:4000/registry
            - name: BASYX_AASSERVER_URL
              value: http://aas-server:4001/aasServer
            - name: MONITORING_PROMETHEUS_AAS_URL
              value: http://monitoring:9080
            - name: CONSUL_HOST
              value: "consul"
            - name: CONSUL_PORT
              value: "{{.Values.consul.port}}"
            - name: VAULT_HOST
              value: "vault"
            - name: VAULT_PORT
              value: "{{.Values.vault.port}}"
            - name: NOTIFICATIONSERVICE_HOST
              value: "notification-service"
            - name: NOTIFICATION_SERVICE_PORT
              value: "{{.Values.notification_service.port}}"
            - name: AWX_HOST
              value: "awx-web"
            - name: AWX_PORT
              value: "{{.Values.awx.port_http}}"
          volumeMounts:
            - mountPath: /app/awx
              name: awx-config-service-management-pv
            - mountPath: /app/consul
              name: consul-token
            - mountPath: /app/keycloak
              name: keycloak-config-service-management-pv
            - mountPath: /app/vault
              name: vault-config-service-management-pv
            - mountPath: /app/database/config
              name: service-management-database-mariadb

          livenessProbe:
            httpGet:
              port: 9020
              path: /swagger-ui/index.html
            initialDelaySeconds: 180
            periodSeconds: 90
            timeoutSeconds: 10
      volumes:
        - name: service-management-database-mariadb
          projected:
            sources:
              - secret:
                  name: service-management-database-mariadb-secret
                  items:
                    - key: mysql-password
                      path: password
              - configMap:
                  name: service-management-database-mariadb-config
                  items:
                    - key: database-user
                      path: user
                    - key: database-schema
                      path: schema
        - name: awx-config-service-management-pv
          persistentVolumeClaim:
            claimName: awx-config-service-management-pvc
        - name: consul-token
          secret:
            secretName: consul-secret
            items:
              - key: consul-master-token
                path: consul_token
        - name: keycloak-config-service-management-pv
          persistentVolumeClaim:
            claimName: keycloak-config-service-management-pvc
        - name: vault-config-service-management-pv
          persistentVolumeClaim:
            claimName: vault-config-service-management-pvc

      restartPolicy: Always
