apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: ingress-consul
spec:
  rules:
    - host: consul
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: consul
                port:
                  number: {{.Values.slm.consul.port}}
  ingressClassName: nginx