/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

div
  .theme-default-content:not(.custom) {
    max-width: contentWidth;
  }
  .page-nav {
      max-width: contentWidth
  }

div[class*="language-"] pre[class*="codecopy-enabled"]
  position: static