apiVersion: v1
kind: Pod
metadata:
  name: aas-database
  labels:
    app: aas-database
spec:
  hostname: aas-database
  containers:
    - name: aas-database
      image: mongo:latest
      imagePullPolicy: IfNotPresent
      ports:
        - containerPort: 27017
      volumeMounts:
        - mountPath: /data/db
          name: aas-database-pvc


  volumes:
    - name: aas-database-pvc
      persistentVolumeClaim:
        claimName: aas-database-pvc

  restartPolicy: Always
