127.0.0.1 {{ ENV.TRAEFIK.HOST.INTERNAL }}
127.0.0.1 {{ ENV.TRAEFIK.HOST.EXTERNAL }}
127.0.0.1 {{ ENV.SLM_CATALOG_SERVICE.HOST.INTERNAL }}
127.0.0.1 {{ ENV.NOTIFICATION_SERVICE.HOST.INTERNAL }}
127.0.0.1 {{ ENV.INFORMATION_SERVICE.HOST.INTERNAL }}
127.0.0.1 {{ ENV.IRS.HOST.INTERNAL }}
127.0.0.1 {{ ENV.PLATFORM_MANAGEMENT.HOST.INTERNAL }}
127.0.0.1 {{ ENV.RESOURCE_MANAGEMENT.HOST.INTERNAL }}
127.0.0.1 {{ ENV.SERVICE_MANAGEMENT.HOST.INTERNAL }}
127.0.0.1 {{ ENV.MONITORING.PROMETHEUS_AAS.HOST.INTERNAL }}
127.0.0.1 {{ ENV.AWX.HOST.INTERNAL }}
127.0.0.1 {{ ENV.CONSUL.HOST.INTERNAL }}
127.0.0.1 {{ ENV.VAULT.HOST.INTERNAL }}
127.0.0.1 {{ ENV.KEYCLOAK.HOST.INTERNAL }}
127.0.0.1 {{ ENV.AAS.AAS_GUI.HOST.INTERNAL }}
127.0.0.1 {{ ENV.AAS.AAS_DISCOVERY.HOST.INTERNAL }}
127.0.0.1 {{ ENV.AAS.AAS_REGISTRY.HOST.INTERNAL }}
127.0.0.1 {{ ENV.AAS.AAS_REPOSITORY.HOST.INTERNAL }}
127.0.0.1 {{ ENV.AAS.SUBMODEL_REGISTRY.HOST.INTERNAL }}
127.0.0.1 {{ ENV.AAS.SUBMODEL_REPOSITORY.HOST.INTERNAL }}
127.0.0.1 {{ ENV.AAS.CONCEPTDESCRIPTION_REPOSITORY.HOST.INTERNAL }}
127.0.0.1 {{ ENV.MINIO.HOST.INTERNAL }}
127.0.0.1 {{ ENV.RABBITMQ.HOST.INTERNAL }}