/**
 * Custom palette here.
 *
 * ref:https://v1.vuepress.vuejs.org/zh/config/#palette-styl
 */

// Colors
$accentColor = #00A0E3
$textColor = #28323C
$borderColor = #004263
$codeBgColor = #282c34

// Layout
$contentWidth = 75%