{
    "SOCIAL_AUTH_OIDC_KEY": "{{ keycloak_oidc_settings.resource }}",
    "SOCIAL_AUTH_OIDC_SECRET": "{{ keycloak_oidc_settings.credentials.secret }}",
    "SOCIAL_AUTH_OIDC_OIDC_ENDPOINT": "{{ keycloak_oidc_settings['auth-server-url'] }}realms/{{ keycloak_oidc_settings.realm }}",
    "SOCIAL_AUTH_OIDC_VERIFY_SSL": "False"
}