apiVersion: v1
kind: Pod
metadata:
  name: keycloak-database
  labels:
    app: keycloak-database
spec:
    hostname: keycloak-database
    containers:
      - name: keycloak-database
        image: ghcr.io/eclipse-slm/mariadb:{{ .Values.slm.keycloak.database_version}}
        ports:
          - containerPort: 3306
        volumeMounts:
          - mountPath: /var/lib/mysql
            name: keycloak-database-data-pv
          - mountPath: /config
            name: keycloak-database-config-pv
        env:
          - name: MYSQL_DATABASE
            value: keycloak
          - name: MYSQL_USER
            value: keycloak
{{/*        livenessProbe:*/}}
{{/*          exec:*/}}
{{/*            command:*/}}
{{/*              - mysqladmin*/}}
{{/*              - ping*/}}
{{/*              - --silent*/}}
{{/*          initialDelaySeconds: 40*/}}
{{/*          periodSeconds: 90*/}}
{{/*          timeoutSeconds: 10*/}}

    volumes:
      - name: keycloak-database-data-pv
        persistentVolumeClaim:
          claimName: keycloak-database-data-pvc
      - name: keycloak-database-config-pv
        persistentVolumeClaim:
          claimName: keycloak-database-config-pvc

    restartPolicy: Always
